#contact {
    font-family: 'Francois One', sans-serif;
    float: left;
    width: 100%;
    padding: 30px 0 130px;
    margin: auto;
    text-align: center;
    height: 100%;
    background-image: url(./swirl_pattern.png);
}

#hear {
    color: black;
    text-shadow: none;
    font-size: 140%;
}

hr {
    width: 70%;
    margin: auto;
}

.email {
    text-decoration: none;
    color: rgb(94, 94, 94);
    font-size: 115%;
    margin: 15px 0 10px;
}

.social {
    color: rgb(94, 94, 94);
    font-size: 140%;
    margin: 5px;
}